<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472231957714-jml73drqvvebbe9d38mdu9l0uidgok51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472231957714-jml73drqvvebbe9d38mdu9l0uidgok51</string>
	<key>API_KEY</key>
	<string>AIzaSyDRKb_FDFUBiznl0m9RcxfSFLt3sk01nWc</string>
	<key>GCM_SENDER_ID</key>
	<string>472231957714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-byocean</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-byocean.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472231957714:ios:568cb36c02e7dd7ad3c90b</string>
</dict>
</plist>